@import '../abstract/variaveis';

#curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;

    img { 
        height: 300px;
        width: 600px;
        object-fit: fill;
        padding-bottom: 1.0rem;
        border-bottom: 6px solid $cor-secundaria;
    }

    h3 {
        padding-top: 1.0rem;
        color: $cor-terciaria;
        font-size: $tamanho-do-texto/2.5;
    }
    h4 {
        color: $cor-terciaria;
        font-size: $tamanho-do-texto/3;
    }
    p {
        margin-top: 5px;
        color: $cor-terciaria;
    }
}

@media  screen and (max-width: 480px) {
    #curiosidades {
        padding: 1rem 0;
        margin: 5px 0;
        img {
            width: 100vw;
            object-fit: cover;
        }
        h4 {
            padding: 1rem 1rem 0 1rem;
        }
        p {
            padding: 1rem;
        } 
    }
}
